<div class="searchandselect" ng-class="{ active: showList }">
    <div class="header-search-and-select" ng-click="show()" class="ui-select-bootstrap">
        <b>{{selecteditem[key]}}</b>
        <span class="pull-right caret" ng:class="{true:'glyphicon-chevron-up', false:'glyphicon-chevron-down'}[showList]"></span>
    </div>
    <ul class="dropdown dropdown-menu">       
        <li ng-repeat="item in values" ng-click="selectItem(item)" class="menu-item" ng-if="values.length > 0">
            <div class="inner-menu-item">
                <span>{{item[key]}}</span>
            </div>
        </li>
        <li ng-if="values.length == 0">
            No Records
        </li>
    </ul>
</div>
